* {
    margin: 0;
    padding: 0;
}


li{
    text-decoration: none;
}

.cover{
    height: 100vh;
    background-color: #0A196F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.cover-title {
    color: #FFFFFF;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    
}

.cover-decription {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #658DF1;
    
}
