* {
    margin: 0;
    padding: 0;
    color: inherit;
}

body {
    background-color: #90A3BF;
    color: #ffffff;
}


li{
    text-decoration: none;
}

.cover{
    height: 100vh;
    background-color: #0A196F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.cover-title {
    color: #FFFFFF;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    
}

.cover-decription {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #658DF1;
    
}


section {
    margin-bottom: 80px;   
}

.section-title {
    text-align: center;
}


.profile {
    width: 1200px;
    margin: 0 auto;
}

.profile-detail {
    display: flex;
    gap: 100px;
    margin-top: 56px;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.profile-description {

}

.profile-item {
    display: flex;
    align-items: center;
    gap: 100px;
}

.profile-item-title {
    font-size: 20px;
    font-weight: bold;
}

.profile-item-description {
    font-size: 16px;
}
