* {
    margin: 0;
    padding: 0;
    color: inherit;
}

:root {
    --main-bg: #90A3BF;
    --sub-bg: #0A196F;
    --color-red : #FFA37A;
    --color-green : #BCE455;
}

body {
    background-color: var(--main-bg);
    color: #ffffff;
}

li{
    text-decoration: none;
}

.cover {
    height: 100vh;
    background-color: var(--sub-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: relative;
}
.circle{
    background-color: currentColor;
    border-radius: 50%;
}

.circle-big{
    width: 44px;
    height: 44px;
}

.circle-small{
    width: 20px;
    height: 20px;
}

.color-red{
    color: var(--color-red);
    background-color: var(--color-red);
}

.color-green{
    color: var(--color-green);
    background-color: var(--color-green);
}


.cover-title {
    color: #FFFFFF;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    
}

.cover-decription {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #658DF1;
    
}

.cover .star1 {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.cover .star2 {
    position: absolute;
    left: 240px;
    bottom: 30px;
}

.cover .star3 {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.cover .star4 {
    position: absolute;
    right: 20px;
    bottom: 180px;
}

.cover .star5 {
    position: absolute;
    left: 20px;
    bottom: 230px;
}

.cover .star6 {
    position: absolute;
    right: 210px;
    bottom: 40px;
}

.cover .star7 {
    position: absolute;
    left: 340px;
    bottom: 30px;
}

.cover .star8 {
    position: absolute;
    right: 90px;
    bottom: 240px;
}

.cover .circle1 {
    position: absolute;
    left: 240px;
    bottom: 130px;
}

.cover .circle2 {
    position: absolute;
    right: 160px;
    bottom: 160px;
}

.cover .circle3 {
    position: absolute;
    left: 124px;
    bottom: 240px;
}

.cover .circle4 {
    position: absolute;
    right: 110px;
    bottom: 200px;
}


section {
    margin-bottom: 80px;   
}

.section-title {
    text-align: center;
}


.profile {
    width: 1200px;
    margin: 0 auto;
}

.profile-detail {
    display: flex;
    gap: 100px;
    margin-top: 56px;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.profile-description {

}

.profile-item {
    display: flex;
    align-items: center;
    gap: 100px;
}

.profile-item-title {
    font-size: 20px;
    font-weight: bold;
}

.profile-item-description {
    font-size: 16px;
}
